/**
 * Disable the default webkit styles for range inputs (sliders).
 */
input[type=range]{
    -webkit-appearance: none;
    background: none;
}

/**
 * Disable the default focus styles for webkit range inputs (sliders).
 */
input[type=range]:focus {
    outline: none;
}

/**
 * Include the mixin for a range input style.
 */
@include slider {
    background: #ddd;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 5px;
    width: 100%;
}

/**
 * Include the mixin for a range input thumb style.
 */
@include slider-thumb {
    -webkit-appearance: none;
    background: #FED330;
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 1px #FED330;
    cursor: pointer;
    height: 15px;
    margin-top: -4px;
    width: 15px;
}
