.filmstrip__videos .videocontainer {
    display: inline-block;
    position: relative;
    background-size: contain;
    border-radius: 13px;
    // border: solid white 3px;
    transition: border .3s;
    background: white;

    &.videoContainerFocused, &:hover {
        cursor: pointer;
    }

    // &.videoContainerFocused {
    //     border: solid white 3px;
    // }

    .remotevideomenu > .icon-menu {
        display: none;
    }

    &:hover:not(.videoContainerFocused):not(.active-speaker) {
        // border: solid white 3px;
        cursor: pointer;

        .remotevideomenu > .icon-menu {
            display: inline-block;
        }
    }

    & > video {
        cursor: hand;
        border-radius: 11px;
        object-fit: cover;
        overflow: hidden;
    }

    .presence-label {
        position: absolute;
        z-index: $zindex3;
    }
}
